<div *ngIf="price_table.length > 0">
    <table>
        <thead>
            <tr>
                <th>Número da parcela</th>
                <th>Data do pagamento</th>
                <th>Valor</th>
                <th>Juros</th>
                <th>Amortização</th>
                <th>Saldo devedor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of price_table">
                <td>{{ row.installment_number }}</td>
                <td>{{ row.payment_date }}</td>
                <td>{{ row.installment_value }}</td>
                <td>{{ row.interest }}</td>
                <td>{{ row.amortization }}</td>
                <td>{{ row.remaining_balance }}</td>
            </tr>
        </tbody>
    </table>
</div>
